@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex p-5 m-5 h-100 flex-column align-items-center justify-content-center gap-5">
    <h1 class="display-4 w-75 text-center">Acesse e Gerencie as informações dos seus Clientes</h1>
    <a class="btn btn-success w-25" asp-controller="Cliente" asp-action="Index">Acessar</a>
</div>
